@import "../utility/utility.scss";

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        @include default-button-styles();
    }
}