@import "../utility/utility.scss";

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        @include default-button-styles();
        &:hover, &:focus, &:focus-within {
            outline: none;
        }
    }

    button {
        @include default-button-styles();
        margin-top: 1rem;
    }
}