/* Theme Colors */
$light-blue: #89dbfe;
$border-blue: #003df3;
$light-pink: rgb(245, 201, 207);

/* Basics */
$black: #000000;
$off-white: #F5F5F3;
$white: #ffffff;
$grey: #a3a3a3;

// Spoopy
$spooky-black: #000000;
$spooky-orange: #ff6600;
$spooky-burnt-orange: #ae4600; 
$spooky-purple: #9900ff;