.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oldNotes {
    position: relative;
    border: none;
    background-color: transparent;
    background: none;
}