.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
    }
    hr {
        display: none;
    }
}

.oldNotes {
    position: relative;
    border: none;
    background-color: transparent;
    background: none;
}